@model Transportes.MVC.ViewModels.ClassificacaoViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ClassificacaoViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ClassificacaoId)

        <div class="form-group">
            @Html.LabelFor(model => model.UsuarioId, "UsuarioId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UsuarioId", String.Empty)
                @Html.ValidationMessageFor(model => model.UsuarioId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TransportadoraId, "TransportadoraId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TransportadoraId", String.Empty)
                @Html.ValidationMessageFor(model => model.TransportadoraId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.preco, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.preco)
                @Html.ValidationMessageFor(model => model.preco)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
